$font-family: 'Inter', sans-serif;
$primary-color:#9762fd;
$secondary-color:#61d5b8;
$small-device:600px;
$violet-gradient:linear-gradient(to right top, #9762fd, #9060fd, #895efd, #825dfd, #7a5bfd);
$blue-gradient:linear-gradient(to left bottom, #61d5b8, #44cfc4, #26c8cf, #0fc1d8, #1eb8de);
$white:white;
$black:black;
$shadow:10px 5px 20px #090a0a37;

$global-color:(
    "primary-color":#9762fd,
"secondary-color":#61d5b8,
light:white,
dark:black
);
